.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  height: 3.7rem;
  width: 100%;
  background-color: #ffffff;
  padding: .5% 7% .5%;
  display: flex;
  border-bottom: #c6c6c6 .5px solid;
  position: fixed;
  z-index: 1;
}

.logo {
  width: 50%;
  display: flex;
  padding: .25rem;
  justify-content: flex-start;
}

.menu {
  width: 50%;
  display: flex;
  padding: .25rem;
  justify-content: flex-end;
}

.site-layout-content {
  display: flex;
  align-content: center;
  min-height: 100vh;
}

.left-static {
  height: 60%;
  width: 22%;
  margin: .5rem;
  padding: 1.5rem 1.8rem .5rem;
  border: #c6c6c6 .5px solid;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
}

.content-section {
  min-height: 50%;
  width: 55%;
  margin: .5rem;
}

.top-section {
  width: 100%;
  height: 50px;
  /* background-color: #ffffff; */
  /* border: #c6c6c6 .5px solid; */
  /* border-radius: 5px; */
  padding: .5rem;
  /* text-align: right; */
}

.content-card {
  width: 95%;
  min-height: 180px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: .5rem;
  border: #c6c6c6 .5px solid;
  border-radius: 5px;
}



.stat-section {
  height: 50%;
  width: 25%;
  margin: .5rem;
  padding: 1.5rem 1rem 1rem;
  border: #c6c6c6 .5px solid;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
}

.post-page {
  width: 60%;
  min-height: 180px !important;
  background-color: #ffffff;
  margin: 1rem auto 0;
  border: #c6c6c6 .5px solid;
  border-radius: 5px;
}


@media screen and (max-width: 1100px) {
  .stat-section {
    display: none;
  }

  .content-section {
    min-height: 50%;
    background-color: "red";
    width: 70%;
    margin: .5rem;
  }

  .left-static {
    height: 60%;
    width: 30%;
    margin: .5rem;
    padding: 1.5rem 1.5rem .5rem;
    border: #c6c6c6 .5px solid;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .site-layout-content {
    display: block;
    align-content: center;
  }

  .stat-section {
    display: none;
  }

  .content-section {
    min-height: 50%;
    background-color: "red";
    width: 100%;
    margin: .5rem;
  }

  .left-static {
    height: 60%;
    width: 100%;
    margin: .5rem;
    padding: 1.5rem 1.5rem .5rem;
    border: #c6c6c6 .5px solid;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
  }

  .post-page {
    width: 95%;
    min-height: 180px;
    background-color: #ffffff;
    margin: 1rem auto 0;
    border: #c6c6c6 .5px solid;
    border-radius: 5px;
  }
}